# ============================================================================ #
#                             Default Code Owners                              #
# ============================================================================ #
# This repository is maintained by the OctalMesh development team.             #
# Please direct any issues or pull requests to them.                           #
# ============================================================================ #

* @OctalMesh/development
